<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2025 atexxi Systems AG <dev@atexxi.ch>. All rights reserved.
  ~
  ~ This source code is proprietary and confidential. Unauthorized copying, modification,
  ~ distribution, or use of this code, via any medium, is strictly prohibited without prior
  ~ written permission from atexxi Systems AG.
  -->

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type
			ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d [%thread] %-5level %class{36}:%line %method - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>